---
import LogInLayout from '../layouts/LogInLayout.astro';

if(Astro.cookies.has('twitch-token')) {
  return Astro.redirect('/dashboard');
}
---

<LogInLayout title="login/coworking/bamboechop">
  <section class="bg-[#102269] bg-background-black-linen outline-indigo-400 outline-dashed outline-2 outline-offset-[-6px] rounded-2xl px-24 py-16 shadow-lg h-min font-sans relative">
    <h1 class="sr-only">Welcome to Astro.</h1>
    <a
      class="bg-[#9146ff] text-white font-bold py-2 px-4 rounded transition-all hover:underline hover:underline-offset-[3px]"
      href={`https://id.twitch.tv/oauth2/authorize?client_id=${import.meta.env.PUBLIC_TWITCH_CLIENT_ID}&redirect_uri=${import.meta.env.PUBLIC_TWITCH_REDIRECT_URI}&response_type=${import.meta.env.PUBLIC_TWITCH_RESPONSE_TYPE}&scope=${encodeURIComponent(import.meta.env.PUBLIC_TWITCH_SCOPE)}&state=${import.meta.env.PUBLIC_TWITCH_STATE}`}>
      Log in with Twitch
    </a>
  </section>
</LogInLayout>

<style lang="scss">
  .loader {
    width: 48px;
    height: 48px;
    position: relative;

    &::after,
    &::before {
      box-sizing: border-box;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 4px solid #9146ff;
      position: absolute;
      left: 0;
      top: 0;
      animation: animloader 2s linear infinite;
    }

    &::after {
      transform: scale(0);
      animation-delay: 1s;
      content: '';
    }

    &::before {
      content: '';
    }
  }

  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
</style>
